[Desktop Entry]
Name=Kelpie
Comment=Create and manage SMB (Samba) shares
Exec=kelpie
Icon=kelpie
StartupWMClass=Kelpie
Terminal=false
Type=Application
Categories=System;Settings;
